@media (min-width: 100px) and (max-width: 520px) {
    .ContainerInfos {
      flex-direction: column;
      height: fit-content;
    }
}

div.ContainerInfos {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}